NODE_ENV=development
PORT=5000
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=SCHEMA"

# my env
DATABASE_URL="postgresql://postgres:6858@localhost:5432/rr_traders_db?schema=public"
PORT=5000
BCRYPT_SALT_ROUNDS=10